*{
    margin: 0;
    padding:0 ;
}
body{
    background-color: rgb(161, 219, 219);
}
img{
    width: 100%;
}
.container{
    width: 1170px;
    margin: auto;
    background-color: aquamarine;
}

.over{
    overflow: hidden;
}
img{
    width: 100%;
}
/*header start*/
.headerpart {
    width: 1536px;
    height: 135px;
}
.fas.fa-phone-alt {
    float: left;
}

.headerl{
    float: left;
    background-color: brown;
}
.headerr{
    background-color: burlywood;
}

.headertop{
    background-color: chartreuse;
}
.headerbottom {
    background-color: darkcyan;
    height: 50px;
    display: grid;
    place-items: center;
}
.contactinfo {
    float: left;
    width: 29%;
    padding: 28px 20px;
    text-align: center;
    margin: auto;
}
.contactinfo a {
    padding: 0px 0px;
    display: block;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
}
.contactinfo2{
    float: left;
    width: 30%;
    padding: 10px 20px;
    text-align: center;
}
.contactinfo3{
    margin-top: 20px;
}


.headerbottom ul{
    list-style: none;
    
}
.headerbottom ul li {
    float: left;
    position: relative;
    border: 1px solid red;
    margin: 0 38px;
}
.headerbottom ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 25px;
}
.headerbottom ul li a:hover{
    color: darkred;
}
.headerbottom ul li ul li{
    float: none;
}
.headerbottom ul li ul{
    position: absolute;
    left: -9999px;
    background-color: deeppink;
}
.headerbottom ul li:hover ul{
    left: 0;
    top: 50px;
}
.slider {
    background-image: url(img/slider.png);
    background-repeat: no-repeat;
    block-size: ;
    background-size: cover;
    background-position: center;
}
.sliderinner {
    margin-left: 780px;
    color: aliceblue;
}
.slider h1 {
    text-transform: uppercase;
    padding: 20px;
    font-size: 52px;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 200px;
}
.slider p {
        text-transform: uppercase;
        padding: 20px;
        font-size: 20px;
        width: 200px;
}
.slider h3 {
    padding: 50px 20px;
    font-size: 20px;
}
.bottompart {
    width: 50%;
    margin: auto;
    color: cornsilk;
    text-align: center;
    padding: 10px 30px;
}
.bottompart p {
    width: auto;
    text-transform: capitalize;
}
.bottompart h2 {
    
    text-transform: uppercase;
}
.bottomcover{
    background-color: blue;
    opacity: .7;
}

.icon {
    text-align: center;
    background-color: red;
    margin: auto;
    width: 1000px;
}
.icon i{
    padding: 40px 60px;
    font-size: 100px;

}
.icon .singleicon{
    float: left;
    
}
.insleft {
    float: left;
    width: 50%;
    text-align: right;
    padding: 60px;
    box-sizing: border-box;
}
.insleft h1 {
    font-size: 50px;
}
.insleft h5 {
    font-size: 30px;
}
.insleft p {
    font-size: 40px;
    margin-top: 15px;
}
.insleft button {
    padding: 10px;
    font-size: 35px;
    margin: 23px 0px;
   
}




.insright{
    width: 50%;
    float: right;
}
.insurance{
    overflow: hidden;
}
.details{
    background-color: crimson;
    padding: 50px;
}
.singlecar{
    background-image: url(img/three-col-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.singlecar2{
    background-image: url(img/three-col-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.singlecar3{
    background-image: url(img/three-col-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.singlecar {
    float: left;
    width: 24%;
    text-align: center;
    padding: 180px 70px;
    color: white;
}
.singlecar2 {
    float: left;
    width: 24%;
    text-align: center;
    padding: 180px 70px;
    color: white;
}
.singlecar3 {
    float: left;
    width: 24%;
    text-align: center;
    padding: 180px 70px;
    color: white;
}
.sabout{
    float: left;
    width: 20%;
}
.about {
    text-align: center;
    width: 1200px;
    margin: auto;
}

.foot {
    background: aqua;
}
.rightfoot{
    float: right;
    padding: 15px;
}
.leftfoot {
    float: left;
    padding: 15px;
}
.insleft2{
    float: left;
    width: 50%;
    
}
.insleft2 button {
    padding: 10px;
    font-size: 35px;
    margin: 23px 0px;
    margin-top: 43px;
}
.insright2{
    width: 50%;
    float: right;
    padding: 60px;
    box-sizing: border-box;
}
.insright2 h1 {
    font-size: 50px;
}
.insright2 h5 {
    font-size: 30px;
}
.insright2 p {
    font-size: 40px;
    margin-top: 15px;
}
.insright2 button {
    padding: 10px;
    font-size: 35px;
    margin: 23px 0px;
    margin-top: 23px;
    margin-top: 43px;
}

.details p {
    text-align: center;
    padding: 15px;
    font-size: 40px;
    text-transform: uppercase;
}
.singlecar{
    position: relative;
}
.singlecar2{
    position: relative;
}
.singlecar3{
    position: relative;
}
.cardetails button {
    background-color: rgb(25, 25, 238);
    position: absolute;
    left: -99999px;
    color: whitesmoke;
}
.singlecar:hover button{
    left:35%;
    padding: 20px 50px;
    margin-top: 10px;
    

}
.singlecar2:hover button{
    left:35%;
    padding: 20px 50px;
    margin-top: 10px;
    

}
.singlecar3:hover button{
    left:35%;
    padding: 20px 50px;
    margin-top: 10px;
    

}